body{
    background-color: #87CEFA;
    color: #00008B;
}
.sorkizart{
    text-align: justify;
}
.jobbra{
    text-align: right;
}
.balra{
    text-align: left;
}
table{
    size: 90%;
    margin: 0;
}
.kozep{
    text-align: center;
} 