body{
    background-color: #DDFFDD;
    color: #002200;
}
img{
    width: 250px; 
    float: right;
}
li{
    height: 200px;}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}